{{#extends 'base'}}
{{#block "content"}}
    <h1>Internal menu management interface.</h1>

    Welcome user. Please utilise the links in navigation bar to manage restaurant menu.<br><br>

    <h3>Current menu setup:</h3><br>
    <p>Mains:
    <ul>
        <li>Nasi Lemak</li>
        <li>Chicken Rice</li>
        <li>Laksa</li>
        <li>Prawn Noodles</li>
    </ul>
    Sides:<br><br>
    <ul>
    <li>Truffle fries</li>
    <li>Sambal egg</li>
    <li>Minced beef</li>
    </ul>
    </p>

{{/block}}
{{/extends}}